<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= country %></title>
    <link rel="stylesheet" src="css/style.css">
  </head>
  <body>
    <table>
      <tr>
        <td><b>Parameters</b></td>
        <td><b>Country details</b></td>
      </tr>
      <tr>
        <td>Country name</td>
        <td><%= country%></td>
      </tr>
      <tr>
        <td>Top Level Domain</td>
        <td><%= level%></td>
      </tr>
      <tr>
        <td>Calling Code</td>
        <td><%= callingCode%></td>
      </tr>
      <tr>
        <td>Capital City</td>
        <td><%= capital %></td>
      </tr>
      <tr>
        <td>Region</td>
        <td><%= region%></td>
      </tr>
      <tr>
        <td>Subregion</td>
        <td><%= subregion%></td>
      </tr>
      <tr>
        <td>Population</td>
        <td><%= population%></td>
      </tr>
      <tr>
          <td>Timezone</td>
          <td><%= timezone%></td>
      </tr>
      <tr>
        <td>Language</td>
        <td><%= language%></td>
      </tr>
      <tr>
        <td>Currency</td>
        <td><%= currency1%> <%= currency2 %> <%= currency3 %></td>
      </tr>
      <tr>
        <td>Flag url</td>
        <td><%= flag%></td>
      </tr>
    </table>
  </body>
</html>
